{{!-- <!DOCTYPE html>
<html>
    <head>

    </head>
    <title>{{ title }} | {{ name }}</title>
    <body>
        <h1>{{ title }}</h1>
    </body>
</html> --}}
{{>header}}

     <h1>{{ title }}</h1>

{{>footer}}